@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primaryFont: "Roboto", sans-serif;
$logoFont: "Fugaz One", sans-serif;

.aboutUsBody {
    background: url("../images/backgroundPattern.png");
    padding: 0 0;
    margin: 0 auto;

    .logo {
        // the container with the logo image and About Us link
        display: flex;
        justify-content: left;
        align-items: center;
        width: 150px;
    }

    // FOOTER
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #f8f7f2;
        color: rgba(0, 0, 0, 0.747);
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        line-height: 1.4;
        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #f97316;
                span {
                    color: rgba(0, 0, 0, 0.747);
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .credentials {
        text-align: center;
        padding-top: 1rem;
        background-color: #f8f7f2;
        color: rgba(0, 0, 0, 0.52);

        p {
            margin: 0;
        }
    }
}

.imgSection {
    display: flex;
    gap: 4.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3.5em 5rem 11rem 5rem;
    font-family: $primaryFont;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    color: rgba(0, 0, 0, 0.85);
    font-family: $primaryFont;
}

h2 {
    font-family: $logoFont;
}

.card {
    // FUNCTIONALITY
    position: relative;
    height: 18rem;
    width: 18rem;

    &__side {
        height: 18rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

        .heroImage {
            border: 3px solid #f974169c;
            border-radius: 50%;
            width: 270px;
        }

        &--front {
            background-color: transparent;
            background-size: 100% 100%;
            border-radius: 50%;
            height: 17.2rem;
            width: 17.2rem;
        }

        &--back {
            transform: rotateY(180deg);
            box-shadow: inset;
            background-size: 100% 100%;
            height: 22rem;
            width: 18rem;
            background-color: rgba(255, 255, 255, 0.795);
            box-shadow: 0 0 20px #f97316, 0 0 10px #f97316 inset;

            p {
                font-size: 1.2rem;
                font-family: $primaryFont;
                line-height: 1rem !important;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .socialMediaLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -1.5rem;

        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #f97316;

                span {
                    color: rgba(0, 0, 0, 0.74);

                    &:hover {
                        color: #f97316;
                    }
                }
            }
        }
    }
}
