    // COLORS
@import '../aDesign/colors/colors.scss'; 
    //FONT
@import '../aDesign/typography/fonts.scss'; 


.imgSection {
display: flex;
justify-content: center;
align-items:center;
font-family: $primaryFont;
flex-wrap:wrap;


    .heroSection {
    margin-right: 3rem;
    width: 25%;

    .imgAbout {
    margin-bottom: 1rem;
    cursor: pointer;
    
    .heroImage {
    border: 3px solid #f974169c;
    border-radius: 50%;
  
    width:250px;
    }    
}
    .aboutInfo {
        text-align: center;
        background-color: $overlayColorLogin;
        padding: 1.5rem;
        border-radius: 7px;
   

h2 {
    color:$primaryColor;
    font-size: 1.5rem;
    margin-bottom:1rem;
}
 }

}
}

 .socialMediaLinks {
        display: flex;
        flex-direction: column;
        color: $primaryColor;
    }
