    // COLORS
@import '../aDesign/colors/colors.scss'; 
    //FONT
@import '../aDesign/typography/fonts.scss'; 

.choosingSection{
    background-image: url("../../images/backgroundDots.svg"); ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    a{
        text-decoration: none;
    }
    .chooPt1{
        padding: 50px;
        h2{
            font-weight: bold;
            font-size: 24px;
            padding: 30px 0px;
        }
    }
    .chooSearch{
        form{
            padding: 50px;
        }
    }
}