    // COLORS
    @import '../aDesign/colors/colors.scss';
    //FONT
    @import '../aDesign/typography/fonts.scss';

    .adminSection {
        background-image: url("../../images/backgroundDots.svg");
        ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: $backgroundColor;
        padding: 10% 50px 0px 50px;
        h1,h2,h3,p{
            font-family: $primaryFont;
        }
        h1 {
            font-size: 2rem;
            font-family: $primaryFont;
            font-weight: 600;
            text-align: center;
            margin-bottom: 3rem;
        }
        #userLi{
            padding: 40px 10px;
        }
        .allCardsContainer {
            ul {
                gap: 40px;
                .adminContent {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    background-color: rgba(255, 255, 255, 0.689);
                    border-radius: 10px;
                    box-shadow: 3px 3px 5px #292826,
                    -3px -3px 5px $backgroundColor;
                    .busiImg {
                        a {
                            img {
                                width: 500px;
                                height: 170px;
                                border-radius: 10px;
                                box-shadow: 3px 3px 5px #292826,
                                    -3px -3px 5px $backgroundColor;

                            }
                        }
                    }
                    .buisName{
                        margin-left: 1rem;
                    }
                    .iconsDashboard {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        margin-right: 1rem;
                        .icon {
                            color: $textColorWhite;
                            background-color: $primaryColor;
                            font-size: 1.2rem;
                            padding: 0.5rem;
                            border-radius: 5px;
                            
                            &:hover {
                                filter: contrast(150%);
                            }
                        }
                    }
                    #nameUser{
                        font-size: 20px;
                        font-family: $primaryFont;
                    }
                }
                #busiMana{
                    padding: 30px 0;
                }
            }
        }
    }